**/*.pyc
**/.#*
**/*.swp
dump.rdb
*.log
*.lock
*.txt
*.bat
*.html
*.stdout
*.pid
build/**/*
dbs/**/*
eggs/**/*
jay.egg-info/**/*
project.egg-info/**
target/**
dist/**
etc/amazon.start.urls
local_settings.py
.idea/**
